<div class="toolbar" role="banner">
    <a href routerLink="/accueil" title="Accueil" >
      <img
      height="25"
      alt="EISTI Logo"
      [src]="image"
    /></a>
    
    <a *ngIf="!lowWidth" href routerLink="/accueil" title="Accueil" ><span>Accueil</span></a>
    <a href routerLink="/extranet/etudiant" title="Etudiants"  *ngIf="connexion.isconnected() && !lowWidth">
      <span>Etudiants</span></a>
    <a href routerLink="/extranet/statistiques"  title="Statistiques" *ngIf="connexion.isadmin() && !lowWidth">
      <span>Statistiques</span></a>
      <div class="spacer"></div>
    
    <a aria-label="connexion" href routerLink="/connexion" title="connexion" *ngIf="!lowWidth && !connexion.isconnected() && router.url!='/connexion'">
      
      <mat-icon aria-hidden="false" aria-label="connexion">exit_to_app</mat-icon>
      <span>Connexion</span>
      
    </a>
    <a aria-label="profil" href [routerLink]="['/extranet/etudiant',connexion.getpseudo()]" title="Profil" *ngIf="connexion.isconnected() && !lowWidth">

      <mat-icon aria-hidden="false" aria-label="person">person</mat-icon>
      <span>{{connexion.getpseudo()}}</span>
      
    </a>
    <a aria-label="deconnexion" (click)="connexion.disconnect()" title="Déconnexion" *ngIf="connexion.isconnected() && !lowWidth">

      <mat-icon aria-hidden="false" aria-label="deconnexion">close</mat-icon>
      <span>Déconnexion</span>
      
    </a>
  </div>