<div class="toolbar" role="banner">
    <a href routerLink="/accueil">
      <img
      width="25"
      alt="EISTI Logo"
      [src]="image"
    /></a>
    
    <a href routerLink="/accueil">Accueil</a>
    <a href routerLink="/etudiant" *ngIf="connexion.isconnected()">Etudiants</a>
      <div class="spacer"></div>
    
    <a aria-label="connexion" href routerLink="/connexion" title="connexion" *ngIf="!connexion.isconnected() && router.url!='/connexion'">
      
      <mat-icon aria-hidden="false" aria-label="connexion">exit_to_app</mat-icon>
      <span>Connexion</span>
      
    </a>
    <a aria-label="profil" href [routerLink]="['/etudiant',etuServ.etudiants[connexion.getid()].pseudo]" title="profil" *ngIf="connexion.connected">

      <mat-icon aria-hidden="false" aria-label="person">person</mat-icon>
      <span>{{etuServ.etudiants[connexion.getid()].pseudo}}</span>
      
    </a>
    <a aria-label="deconnexion" (click)="connexion.disconnect()" title="deconnexion" *ngIf="connexion.isconnected()">

      <mat-icon aria-hidden="false" aria-label="deconnexion">close</mat-icon>
      <span>Deconnexion</span>
      
    </a>
  </div>