<div class="card highlight-card card-small"  *ngIf="id==-1">
    <mat-icon aria-hidden="false" aria-label="connexion">people_alt</mat-icon>
    <span>Etudiants</span>

    

    

  </div>
  <div class="card-container" *ngIf="id==-1">
    <a class="card"  href [routerLink]="['/etudiant',i]"  *ngFor="let e of etuServ.etudiants; let i=index">
      
        <span>
          {{e.nom}}
        </span>
         <span>
          {{e.prenom}}
        </span>
        <span>
            {{e.promo}}
          </span>
          <span>
              {{e.entreprise}}
            </span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
      
  </div>


  
    <table mat-table [dataSource]="etuServ.dataSource" matSort class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="promo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Promotion </th>
        <td mat-cell *matCellDef="let element"> {{element.promo}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="entreprise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Entreprise </th>
        <td mat-cell *matCellDef="let element"> {{element.entreprise}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    
    

  <div class="card highlight-card card-small"  *ngIf="id!=-1">

      <span>{{etuServ.etudiants[id].nom}}</span>

    </div>